# PostgreSQL Configuration
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
PGBOUNCER_PORT=""
PGBOUNCER_MIN_CONNECTIONS=
PGBOUNCER_MAX_CONNECTIONS=

# PgBouncer Configuration
PGBOUNCER_POOL_MODE=""
PGBOUNCER_MAX_CLIENT_CONN=
PGBOUNCER_DEFAULT_POOL_SIZE=

# redis configuration
REDIS_HOST=""
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
REDIS_DECODE_RESPONSES=